body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #f2f3f3;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}
.model {
	background-color: #fff;
	margin: 5px;
	height: 250px;
	text-align: center;
}
.container {
	width: 80%;
	margin: auto;
}
figure {
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	cursor:pointer;
}
.title {
	font-weight: 700;
	letter-spacing: -0.03em;
	line-height: 1.05;
	cursor:pointer;
}
#imgArticle {
	float: left;
}
.hd-Image {
	width: 100%;
	height: 100px;
	cursor:pointer;
}
.confirmBtn {
	margin-left : 15px;
	margin-top : 15px;
}
